
.cashier-navbar {
    background-color: #0F7597;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.left-data {
    display: flex;
    gap: 30px;

}

.logout-button{
    background-color: #B1259C;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}