@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{
    background: white;
    font-family: 'Montserrat', sans-serif;
}

.auth{
    width: 100%;
    display: block;
}

.auth .header{
    width: 100%;
    background: #0F7597;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.auth .header .logo{
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #0F7597;
}

.auth .header nav{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #0F7597;
    margin-right: 100px;
    a {
        color: white;
        margin: 0 30px;
        font-weight: 101px;
        font-size: 16px;
        background: #0F7597;
        font-weight: bold;
    }
}

.auth .header a{
    background: #0F7597;
}
.auth .header button{
    width: 178px;
    height:35px;
    color: white;
    border: #1F3238;
    cursor: pointer;
    padding: 5px 1px;
    margin-left: 5px;
    border-radius: 16px;
}
.blogin{
    background: #1F3238;
}

.bregister{
    background: #898F91;
}



.auth .form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}